<%- title "Authors" %>

<div class="pull-left">
  <h1>Listing Authors</h1>
</div>
<% if can? :add, @author %>
   <div class="pull-right"><%= link_to "Add Author", new_author_path, class:'btn btn-primary' %></div>
<% end %>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Author</th>
      <th>Books</th>
      <th>Created</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @author.each do |author| %>
    <% cache author do %>
      <tr>
        <td><%= link_to author.name, author %></td>
        <td><%= author.books.size %></td>
        <td><%= author.created_at %></td>
        <td><% if can? :update, author %>
          <%= link_to 'Edit', edit_author_path(author) %> &nbsp;
          <% end %>
          <% if can? :destroy, author %>
          <%= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
