<% pageTitle = "Browse Books" %>
<%- title pageTitle %>

<div class="pull-left">
  <h1><%= pageTitle %></h1>
</div>

<% if can? :add, @book %>
  <div class="pull-right"><%= link_to "Add a Book", new_book_path, class: 'btn btn-primary' %></div>
<% end %>


<%= render "shared/books" %>

<% if false %>
  <ul id="book_grid">
    <% @books.each do |book| %>
      <li>
        <div>
          <span></span>
          <%= link_to "##", book  %>
          <br class="clear" />
        </div>
        <%= link_to book.title, book %><br />
         by <%= link_to book.author.name, book.author %>
      </li>
    <% end %>
  </div>
<% end %>