<% pageTitle = "Browse Books" %>
<%- title pageTitle %>

<div class="pull-left">
  <h1><%= pageTitle %></h1>
</div>

<% if can? :add, @book %>
  <div class="pull-right"><%= link_to "Add a Book", new_book_path, class: 'btn btn-primary' %></div>
<% end %>

<% if true # this should be more of an admin view %>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Published</th>
      <th>Roots</th>
      <th>Branches</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @books.each do |book| %>
    <tr>
      <td><%= link_to book.title, book %></td>
      <td><%= link_to book.author.name, book.author %></td>
      <td><%= book.published %></td>
      <td><%= book.references.size %></td>
      <td><%= book.branches.size %></td>
      
      <td><% if can? :update, book %>
        <%= link_to 'Edit', edit_book_path(book) %> &nbsp;
        <% end %>
        <% if can? :destroy, book %>
        <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<% end %>
<% if false %>
<ul id="book_grid">
  <% @books.each do |book| %>

    <li>
      <div>
        <span></span>
        <%= link_to "##", book  %>
        <br class="clear" />
      </div>
      <%= link_to book.title, book %><br />
       by <%= link_to book.author.name, book.author %>
    </li>
  <% end %>
</div>
<% end %>