<%- title "Books referenced in #{@book.title}" %>

<h1><%= @book.title %></h1>
<p>Written by: <%= link_to @book.author.name, @book.author %>, <%= @book.published %></p>

<div class="control_group">
	<div class="span3">
		<% if @book.image != "" %>
			<%= image_tag "books/" + @book.image, class: 'img-rounded book-image' %>
		<% else %>
			Image coming soon.
		<% end %>
	</div>
	<div class="span8">
		
		<p>Lots of text here. Short snyopsis. </p>


		<% if @book.amazon_url && false %>
			<!-- no affiliate program in CT! -->
			<a href="<%= @book.amazon_url %>" target="_blank">
				<%= image_tag "amazon.png" %>	
				Purchase on Amazon.com
			</a>
		<% end %>

		<h2>Roots</h2>

		<p>A list of books that <%= @book.title %> references:</p>

		<% if @book.references.count > 0 %>
			<ul>
			<% @book.references.each do |reference| %>
				<li><%= link_to reference.referenced_book.title, reference.referenced_book %></a>
					<br />by <%=reference.referenced_book.author.name %>
					<br />
					<p><%= raw reference.description %></p>
					<% # reference.created_at.strftime("%B %d, %Y") %>
				</li>
			<% end %>
			</ul>
		<% else %>
			<p>There are no references for this book! Please consider <a href="#">Telling us about one</a> if you have read it.</p>
		<% end %>

		<h2>Branches</h2>

		<p>A list of books that used <%= @book.title %> for inspiration:</p>

		<% if @book.branches.count > 0 %>
			<ul>
			<% @book.branches.each do |branch| %>
				<li><%= link_to branch.branched_book.title, branch.branched_book %></a>
					<br />by <%=branch.branched_book.author.name %>
					<br />
					<p><%= raw branch.description %></p>
				</li>
			<% end %>
			</ul>
		<% else %>
			<p>There are no brances for this book. Stay tuned.</p>
		<% end %>



	</div>
	<br class="clear" />

</div>
<br class="clear" />

<div class="control_group">
	<% if can? :update, @book %>
		<%= link_to 'Edit', edit_book_path(@book) %> &nbsp;
	<% end %>
	
	<% if can? :create, @reference %>
		<%= link_to "Add Reference", new_book_reference_path(@book) %>
	<% end %>

</div>


