<%- title "#{@book.title}" %>

<h1><%= @book.title %></h1>
<p>Written by: <%= @book.author.name %>, <%= @book.published %></p>

<div class="control_group">
	<div class="span3">
		<% if @book.image != "" %>
			<%= image_tag "books/" + @book.image, class: 'img-rounded book-image' %>
		<% else %>
			Image coming soon.
		<% end %>
	</div>
	<div class="span7">
		
		<p>Lots of text here. Short snyopsis. </p>


		<% if @book.amazon_url %>
			<a href="<%= @book.amazon_url %>" target="_blank">
				<%= image_tag "amazon.png" %>	
				Purchase on Amazon.com
			</a>
		<% end %>

		<h2>Roots</h2>

		<p>List of books that the current book references. 
		<%= link_to "Add Reference", new_book_reference_path(@book) %>
		</p>


		<% if @book.references.count > 0 %>
			<ul>
			<% @book.references.each do |reference| %>
				<li><%= link_to reference.referenced_book.title, reference.referenced_book %></a>
					<br />by <%=reference.referenced_book.author.name %>
					<br />
					<%= reference.description %>
				</li>
			<% end %>
			</ul>
		<% else %>
			<p>There are no references for this book! Please consider adding one if you have read it.
		<% end %>

	</div>
	<br class="clear" />

</div>
<br class="clear" />

<div class="control_group">
	<%= link_to 'Edit', edit_book_path(@book) %>
</div>


