<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Bookroots" %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class="navbar navbar-fixed-top">
    <nav class="navbar-inner">
      <div class="container">
      	<ul class="nav navbar-nav">
          <li><a class="navbar-brand" href="#">Home</a></li>
          <li><%= link_to "Books", books_path %></li>
          <li><%= link_to "Authors", authors_path %></li>

          <% if can? :add, @book %>
            <li><%= link_to "Add a Book", new_book_path %></li>
          <% end %>
          <% if can? :add, @author %>
            <li><%= link_to "Add an Author", new_author_path %></li>
          <% end %>
        </ul>
        <div style="float:right; display:inline;">
          <ul class="nav navbar-nav">
            <% if current_user %>
              <li><a>My Account</a></li>
              <li><%= link_to "Log Out", destroy_user_session_path , :method => :delete %></li>
            <% else %>
              <li><%= link_to "Log In", new_user_session_path %></li>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main role="main">
      <div class="container">

        <% if notice %>
          <p class="notice"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert"><%= alert %></p>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </main>


</body>
</html>
